﻿@model WebApplication1.Models.MenuViewModel
<div id="menu">
    <ul class="nav">
        <li class="active">
            @Html.ActionLink("Все жанры", "Index", "Game", null, new { @class = (Model.Select == null ? " selected" : "") })
        </li>
        @*@foreach (var item in Model.Genres)
            {
                <li>
                    @Html.ActionLink(item, "Index", "Game", new { genre = item }, new { @class = (Model.Select == item ? " selected" : "") })
                </li>
            }*@

        @foreach (var parameter in Model.Parameters)
        {
            <li>@parameter.Name</li>
            foreach (var value in parameter.Values)
            {
                <li>
                    <div class="filter-control" data-param ="@parameter.Name" data-value="@value">
                        <div class="filter-control-checkbox"></div>
                        <span class="filter-control-label">@value</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

<script>
    $(document).ready(function () {
        $(".filter-control").on('click', function (ecent) {
            event.preventDefault();
            if ($(this).hasClass("checked")) {
                $(this).removeClass("checked");
            }
            else {
                $(this).addClass("checked");
            }
            var checked = $(".checked");
            var result = new Array();
            for (var i = 0; i < checked.length; i++) {
                result.push({ name: $(checked[i]).attr('data-param'), value: $(checked[i]).attr('data-value')})
            }
            console.log(result)
            $.ajax({
                type: "POST",
                url: "@Url.RouteUrl(new { controller = "Game", action = "IndexAjax" })",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(result),
                success: function(data) {
                    $("#content").html(data);
                }

            })
        })


    })
</script>