﻿@model WebApplication1.Entities.Game
<div class="game-block row">
    <div class="col-sm-3">
        <img src="@Model.Cover" />
    </div>
    <div class="col-sm-7 game-name">@Model.Name</div>
    <div class="col-sm-2 game-buy">
        <p class="game-price">@Model.Price$</p>
        @using (Ajax.BeginForm("AddToCart", "Cart", new AjaxOptions {OnFailure="Fail"}))
        {
            @Html.HiddenFor(m => m.GameId)
            <input class="btn btn-success" type="submit" name="@Model.GameId" value="Купить" />
        }
    </div>
</div>

<script>
    function Fail(data, e) {
        alert("Для добавления товаров в корзину необходимо авторизоваться")
        $(location).attr('href', "/Account/Index");
        console.log(data);
    }
</script>