﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/my-change-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/jquery-3.1.0.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("MySite", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        @Html.Action("LoginInfo", "Account")
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <div class="row">
                <div class="col-xs-3">@Html.Action("Index", "Menu")</div>
                <div id="content" class="col-xs-9">@RenderBody()</div>
            </div>
            <hr />
        </div>
    </div>
</body>
</html>