﻿@model System.Security.Principal.IPrincipal

@if (Model.Identity.IsAuthenticated)
{
    <li>@Html.ActionLink("Корзина", "", "Cart")</li>
    <li class="navbar-text"><span>@Model.Identity.Name</span></li>
    <li>@Html.ActionLink("Выйти","Logout","Account")</li>
}
else
{
    <li>@Html.ActionLink("Войти", "Index", "Account", new { returnUrl = Request.Url.PathAndQuery },null)</li>
    <li>@Html.ActionLink("Зарегистрироваться", "Index", "Account", new { returnUrl = Request.Url.PathAndQuery }, null)</li>
}
