﻿.navbar-nav>li{
    border-left: 1px solid #b7b7b7;
}
.navbar-text{
    margin:0;
    padding: 15px 15px 11px 15px;
}
.navbar-nav>.navbar-text:hover,.navbar-nav>.navbar-text:active{
    background-color: inherit;
}
.navbar-nav>li:hover,.navbar-nav>li:active{
    background-color: #aaaaaa;
}
.navbar{
    font-size: 17px;
}