﻿input,
select,
textarea {
    max-width: 280px;
}
#error404{
    margin:auto;
}

.infoField{
    font-style:italic;
    color: #ff917d ;
    height: 65px;
    border-radius:10px;
}
.infoField>div{
    font-style:italic;
    color: green;
    height: 65px;
    border-radius:10px;
}
.infoField>p{
    margin:0;
}
/*.account-forms{
    margin-bottom: 10px;
}*/
#registerInfo, #loginInfo{
    padding-left:140px;
}
#socialLoginList{
    text-align:center;
}
#socialLoginList>button{
    width: 130px;
    height: 90px;
    cursor: pointer;
    background-image: url(/Content/img/soc_btns.png);
    border: 1px solid transparent;
    padding: 0;
    margin: auto;
    font-size: 1px;
    border-radius: 0;
}
#socialLoginList .btn#Vkontakte {
    background-position: -468px 0;
}#socialLoginList .btn#Facebook {
    background-position: 0 0;
}#socialLoginList .btn#Google {
    background-position: -312px 0;
}
.or{
     position: relative;
 }
.or hr {
    width: 100%;
    height: 2px;
    margin: 10px,0,10px,0;
    border: none;
    background: #B3B3B3;
    color: #B3B3B3;
}
.or span {
    position: absolute;
    top: -10px;
    left: 45%;
    margin: 0 0 0 -18px;
    display: block;
    width: 180px;
    height: 20px;
    background: #FFF;
    font-size: 18px;
    line-height: 20px;
    color: #000;
    font-weight: bold;
    text-align: center;
}
.game-block{
    padding-bottom: 3px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom:3px;
}
.game-block img{
    height:100px;
}
.game-block .game-name{
    line-height: 100px;
    font-size:20px;
}
.game-block .game-price{
    text-align:center;
    color: #333;
    font-weight:600;
}
.game-block>.game-buy{
    line-height: 40px;
}
.game-block form{
    text-align:center;
}
#menu{
    position: relative;
    max-height: none;
    min-height: 100%;
    overflow: hidden;
    width: 260px;
    z-index: 4;
}
#menu>.nav>li>a{
    font-size:20px;
    text-transform:uppercase;
    font-weight:400;
    color:#333;
}#menu>.nav>li>.selected{
    font-size:20px;
    text-transform:uppercase;
    font-weight:600;
    background:#e6e6e6;
}
#menu>.nav>li>.selected:hover, #menu>.nav>li>.selected:active{
    background:#e6e6e6;
    font-weight:600;
}
#menu>.nav>li>a:hover, #menu>.nav>li>a:active{
     background:none;
     font-weight:600;
 }
.filter-control-checkbox
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: top center;
    margin-right: 8px;
    background-image: url(/Content/img/checkbox.png);
    vertical-align: text-bottom;
}
.checked .filter-control-checkbox
{
    background-position: bottom center;
}
.checked .filter-control-label{
    font-weight:600;
}
.filter-control{
    cursor: pointer;
}