﻿@model WebApplication1.Models.ExternalLoginConfirmationViewModel

@{
    ViewBag.Title = "Регистрация";
}
<h2>@ViewBag.Title.</h2>
<h3>Связывание вашей учетной записи @Model.LoginProvider.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <hr />
    @Html.ValidationSummary(true)
    <p class="text-info">
        <p>Вы успешно прошли проверку подлинности через <strong>@Model.LoginProvider</strong></p>
        <p>Введите адрес электронной почты для связи с вами и нажмите кнопку "Зарегистрировать", чтобы завершить вход.</p>
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>    <div class="form-group">
        @Html.LabelFor(m => m.Year, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Регистрация" />
        </div>
    </div>
}
