﻿@using WebApplication1.Models
@model WebApplication1.Models.IndexViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/jquery-3.1.0.min.js"></script>
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
</head>
<body>
    @Html.HiddenFor(m => m.ReturnUrl)
    <div class="container">
        <h1 class="text-center">Добро пожаловать на наш сайт</h1>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 infoField">
                @if (TempData["message"] != null)
            {
                    <div>@TempData["message"].ToString()</div>
                }
            </div>
        </div>
        <div class="row account-forms">
            <div class="col-xs-6">@Html.Partial("Login", new LoginViewModel())</div>
            <div class="col-xs-6">@Html.Partial("Register", new RegisterViewModel())</div>
        </div>
    </div>

    <div class="or">
        <hr />
        <span>Или войдите через:</span>
    </div>
    @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
            {
        @Html.AntiForgeryToken()
        <div id="socialLoginList">
            <button id="Vkontakte" type="submit" class="btn btn-default" name="provider" value="Vkontakte" title="Войти с помощью учетной записи Vkontakte"></button>
            <button id="Facebook" type="submit" class="btn btn-default" name="provider" value="Facebook" title="Войти с помощью учетной записи Facebook"></button>
            <button id="Google" type="submit" class="btn btn-default" name="provider" value="Vkontakte" title="Войти с помощью учетной записи Google"></button>
        </div>
    }

</body>
</html>
<script>
    $(document).ready(function () {
        VK.init({
            apiId: 5620093
        });
        $("#AuthVk").on("click", function (event) {
            event.preventDefault();
            VK.Auth.login(function (event, settings) {
                console.log(event)
                console.log(settings)
                if (event.status === "connected") {
                    alert("hi" + event.session.user.first_name)
                }
            });
        })
        VK.UI.button("vk");
    })
</script>