﻿@model WebApplication1.Models.LoginViewModel

@{
    Layout = null;
}

<h2 class="text-center">Login</h2>

<form id="loginInfo">
    <div class="form-group">
        @Html.LabelFor(m => m.Login)
        @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password"})
    </div>
    <input class="btn btn-success" type="submit" value="Войти" id="login" />
    <a class="alert-link" id="forgotPassword" href="">Я забыл пароль</a>
</form>
<script>
    $(document).ready(function () {
        $("#login").on("click", function (event) {
            event.preventDefault();
            var returnUrl;
            if ($("#ReturnUrl").val() == "") {
                returnUrl = "/Home/Index";
            }
            else {
                returnUrl = $("#ReturnUrl").val();
            }
                $.ajax({
                    type: "POST",
                    url: "@Url.RouteUrl(new { controller = "Account", action = "LoginAjax" })",
                    data: $("#loginInfo").serialize(),
                    success: function (data) {
                        if (data === "successful") {
                            $(location).attr('href', returnUrl);
                        }
                        else {
                            $(".infoField").html(data);
                        }
                    }
                })
        });
    })
    $(document).ready(function () {
        $("#forgotPassword").on("click", function (event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "@Url.RouteUrl(new { controller = "Account", action = "ForgotPasswordAjax" })",
                data: $("#loginInfo").serialize(),
                success: function (data) {
                    $(".infoField").html(data);
                }
            })
        });
    })
    function ResendEmail() {
        $("#resendEmail").on("click", function (event) {
            event.preventDefault();
            var url = $("#resendEmail").attr("href");
            $.ajax({
                type: "GET",
                url: url,
                data: null
            })
            $(".infoField").html("<div>Письмо отправлено повторно</div>");
        });
    }
</script>