﻿@model WebApplication1.Models.RegisterViewModel

@{
    Layout = null;
}
<h2 class="text-center">Register</h2>
<form id="registerInfo">
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Year)
        @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", type = "password" })
    </div>
    <input class="btn btn-success" type="submit" value="Зарегистрироваться" id="register" />
</form>
<script>
    $(document).ready(function () {
        $("#register").on("click", function (event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "@Url.RouteUrl(new { controller = "Account", action = "RegisterAjax" })",
                data: $("#registerInfo").serialize(),
                success: function (data) {
                    if (data == "successful") {
                        $("#registerInfo")[0].reset();
                        $(".infoField").html("<div>На указанный электронный адрес отправлены дальнейшие инструкции по завершению регистрации</div>");
                    }
                    else {
                        $(".infoField").html(data);
                    }
                }
            })
        });
    })
</script>