﻿@model WebApplication1.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.Code)
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", type = "password" })
    </div>
    <input class="btn btn-success" type="submit" value="Ок" />
}
