﻿@model WebApplication1.Entities.Cart

@{
    ViewBag.Title = "Index";
}
<div class="panel panel-success">
    <div class="panel-heading">Ваша корзина покупок</div>
    <div class="panel-body">
        @foreach (var line in @Model.CartLines)
        {
            <div>@line.Game.Name</div>
            <div>@line.Game.Price</div>
            <div>@line.Count</div>
            <hr />
        }
    </div>
</div>

